* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a10a0a;
    padding: 1rem;
    color: white;
    position: relative;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Lägga till padding och lite extra på de mest viktiga delarna av bodyn. */

  .allbutindex{
    padding: 30px;
    min-height: 100vh;
    background: url(bg.webp);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr; 
  } 

  #indexmain{
    padding: 30px;
    min-height: 100vh;
  }
  .gamesenseh1{
    padding-left: 30px;
    padding-top: 30px;
  }

/* Fixa border radius på olika bilder. */

  .indeximg{
    border-radius: 20px
  }

  #chairplacement{
    border-radius: 35px;
    margin-left: 20px;
  }

  #positioning{
    border-radius: 35px;
    margin-top: 200px;
  
  }
  
  /* ===== Mobil ===== */
  @media (max-width: 768px) {
  
    .menu-toggle {
      display: block;
    }
    
    .img_outside_of_index{
      width: 100%;
    }
    
    #positioning{
      border-radius: 4px;
    }

    .menu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #333;
      flex-direction: column;
      overflow: hidden;
  
      max-height: 0;
      transition: max-height 0.3s ease;
    }
    
    .allbutindex{
      grid-template-columns: 1fr;
    }

    .menu li {
      text-align: center;
      padding: 1rem 0;
    }
  
    .menu.active {
      max-height: 300px; /* justera efter behov */
    }
  }
